@charset "ISO-8859-1";
html, body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body{
    flex: 1;
    background-image: url("photo_vigne_1.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.container{
    min-height: 100%;
}
.header{
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}
.header img{
    margin-right: 10px;
}
.header h3{
    margin: 0;
    flex-shrink: 0;
}




/* décalage d'image et de texte en haut, logo et titre Pepinieriste etc............................................... */
.image-contain{
  position: relative;
  display: inline-block;
}
.text-contain{
  position:absolute;
  text-align: center;
  top: 0;
  right: -104%;
  width: 110%;
  height: 93%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(-100%);
}
.text-contain p{
  font-weight: bold;
}
.image-contain:hover .text-contain{
  opacity: 1;
  transform: translateX(0);
}
.main_title{
  transition: transform 0.2s ease;
}
.main_title.shifted {
  transform: translateX(30%);
}


/* gestion des onglets et leurs menus déroulants ....................................................................................*/
.menu-container {
    width: 100%;
}
.menu{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}
.menu li a{
    text-decoration: none;
    color: white;
    white-space: nowrap;
    transition: color 0.3s ease;
}
.menu-item, .menu-item.menu-item.has-dropdown{
    display: inline-block;
    margin-right: 70px;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
  }
  
  .menu-item a {
    display: block;
    padding: 5px;
    text-decoration: none;
    white-space: nowrap;
    color: #333;
  }
  .menu-item.has-dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    list-style: none;
    background-color: gray;
    padding: 10px;
    margin-top: 5px;
  }
  
  .dropdown-menu li {
    margin: 5px;
  }

  .menu li.has-dropdown {
    position: relative;
  }
  
  .menu li.has-dropdown::after {
    content: "\25BE"; /* Flèche vers le bas en utilisant le caractère Unicode */
    position: absolute;
    color: white;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
    transition: color 0.3s;
  }
  .menu li:hover a,
.menu li:hover::after {
    transition: color 0.3s;
}

/* gestion de la langue du site ....................................................................................................;*/
.language-menu {
    position: fixed;
    top: 10px;
    right: 10px;
  }
  
  .language-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .language-menu li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .language-menu a {
    text-decoration: none;
    color: #000;
    padding: 5px;
  }
  .language-menu a.active {
    font-weight: bold;
  }
    
  /* carte google maps sur la page contact .............................................................................................................*/
  .contain_contact{
    display: flex;
    flex-direction: row;
  }
  
  #map{
    width: 500px; /* Définir la largeur du carré de la carte */
    height: 500px; /* Définir la hauteur du carré de la carte */
    float: left; /* Placer la carte à gauche */
    border: 1px solid black; 
    margin-top: 80px;
  }

  /* formulaire de contact ........................................................................................................................................*/

  label {
    color: white;
  }
  .contact-form {
    margin-left: 100px;
    width: 50%;
  }
  .contact-form h3{
    color: white;
    text-decoration: underline;
    font-weight: bold;  
}
  .contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .contact-form .error-message {
    color: red;
    margin-bottom: 10px;
  }
  .contact-form .success-message {
    color: green;
    margin-bottom: 10px;
  }

  /* Transitions entre les pages ....................................................................................................*/

.fade-in {
    opacity: 0;
    animation: fade-in-animation 0.8s ease-in forwards;
  }
  
  @keyframes fade-in-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }