@charset "ISO-8859-1";
html, body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body{
    flex: 1;
}
.container{
    min-height: 100%;
}
.header{
    text-align:center;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
}
.logo{
    width: 100px;
    height: 100px;
}
