@charset "ISO-8859-1";
html, body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body{
    flex: 1;
}
.container{
    min-height: 100%;
}
.header{
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}
.header img{
    margin-right: 10px;
}
.header h3{
    margin: 0;
    flex-shrink: 0;
}
.main_title{
    text-align: center;
}
.menu-container {
    width: 100%;
}
.menu{
    display: flex;
    list-style: none;
    padding: 0;
}
.menu li a{
    text-decoration: none;
    color: #333;
}
.menu-item {
    display: inline-block;
    margin-right: 10px;
  }
  
  .menu-item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .menu-item.has-dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 5px;
  }
  
  .dropdown-menu li {
    margin: 5px 0;
  }
