@charset "ISO-8859-1";
html, body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body{
    flex: 1;
}
.container{
    min-height: 100%;
}
.header{
    margin-bottom: 5px;
    border-bottom: 2px solid black;
}
.logo{
    width: 100px;
    height: 100px;
    float: left;
}
.main_title{
    text-align: center;
}
.tab-container {
    width: 100%;
}
.tab-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.tab-list li {
    margin-right: 10px;
}
.tab-list li a {
    text-decoration: none;
    padding: 10px;
    background-color: #f0f0f0;
    color: #333;
}
.tab-list li a:hover {
    background-color: #ccc;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
